.highlightContainer{
    height: 120vh;
    background-color: blanchedalmond;
}

.hToolbar {
    height: 35px;
    background-color: darkgoldenrod;
}

.toggleButton{
    font-size: 35px;
}

.toggleButton:hover{
    cursor: pointer;
}

.compareImage{
    height: 250px;
    width: 250px;
    float: left;
    margin-top: 10px;
    margin-left: 100px;
    padding-right: 20px;
}

.info{
    margin-top: 30px;
    overflow: hidden;
}

.imageContainer{
    display: flex;
    flex-direction: column;
    float: left;
}