.highlightContainer{
    height: auto;
    background-color: blanchedalmond;
}

.hToolbar {
    height: 35px;
    background-color: #0C1344;
    border-radius: 0px 10px 0px 0px;
}

.toggleButton{
    font-size: 35px;
}

.toggleButton:hover{
    cursor: pointer;
}

.comparePicHolder {
    margin: 30px 0px 0px 20px;
}

.info{
    margin-top: 30px;
    overflow: hidden;
}

.imageContainer{
    flex-direction: column;
    float: left;
}

.itemName{
    display: flex;
    justify-content: center;
}

.itemLink{
    font-size: small;
}

.fillerContent{
    margin-left: 40px;
}

.itemSource {
    font-size: x-large;
    padding-top: 5px;
}

.itemName2 {
    padding-top: 15px;
    font-size: large;
}

.watchContainer {
    border-top: 3px solid #0C1344;
    padding-bottom: 30px;
}

.priceTag {
    font-weight: 600;
    font-size: 30px;
    color: #e64949;
    padding-left: 50px !important;
}