.resetButton{
    font-weight: 500;
}

.resetButton:hover {
    background-color: red !important;
}

.bottomDrawer {
    height: 400px;
    background-color: blue;
    border: black;
    border-width: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
}