.resetButton{
    font-weight: 500;
}

.resetButton:hover {
    background-color: darkgoldenrod !important;
}

.bottomDrawer {
    height: 400px;
    background-color: blue;
    border: black;
    border-width: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.compareTable{
    display: block;
    overflow: scroll;
    height: 250px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.compareTable::-webkit-scrollbar {
    display: none;
  }

.compareTable {
    -ms-overflow-style: none;
  }