input::placeholder{
    color: rgb(218, 95, 95)
}

.jumbo {
    position: relative;
    overflow: hidden;
    height: 1000px;
    background-color: black;
}

.jumbo2 {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    overflow: hidden;
    min-height: 0px;
    background-color: black;
}

.jumbo img{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.38;
}



@media screen and (max-width: 999px) {
    .poofLogo {
        display: none;
    }

    .label-icon{
        display: none;
    }
}



.nav-wrapper{
    background-color: transparent !important;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
}

.laptopIcon:hover {
    background-color: darkgoldenrod;
    cursor: pointer
}

.bookIcon:hover {
    background-color: darkgoldenrod;
    cursor: pointer
}

.toyIcon:hover {
    background-color: darkgoldenrod;
    cursor: pointer
}

.houseIcon:hover {
    background-color: darkgoldenrod;
    cursor: pointer
}

.compareToolbar {
    height: 40px;
    background: darkgoldenrod;
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%
}

.navLinks:hover {
    background-color: darkgoldenrod;
}

.brand-logo:hover {
    background-color: darkgoldenrod;
}

a:hover{
    color: white !important;
    text-decoration: none !important;
}

.toggleButton{
    margin-left: 5px;
}

.toggleButton:hover{
    cursor: pointer;
}

.label-icon:hover {
    cursor: pointer;
}