input::placeholder{
    color: rgb(218, 95, 95)
}

.jumbo{
    position: relative;
    overflow: hidden;
    min-height: 1000px;
    background-color: black;
}

.jumbo img{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.38;
}

@media screen and (max-width: 999px) {
    .poofLogo {
        display: none;
    }
}



.nav-wrapper{
    background-color: transparent !important;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
}

