input::placeholder{
    color: rgb(218, 95, 95)
}

.jumbo {
    position: relative;
    overflow: hidden;
    height: 1000px;
    background-color: black;
}

.jumbo2 {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    overflow: hidden;
    min-height: 0px;
    background-color: black;
}

.jumbo img{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.38;
}



@media screen and (max-width: 999px) {
    .poofLogo {
        display: none;
    }

    .label-icon{
        display: none;
    }
}



.nav-wrapper{
    background-color: transparent !important;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
}

.laptopIcon:hover {
    background-color: darkgoldenrod;
    cursor: pointer
}

.bookIcon:hover {
    background-color: darkgoldenrod;
    cursor: pointer
}

.toyIcon:hover {
    background-color: darkgoldenrod;
    cursor: pointer
}

.houseIcon:hover {
    background-color: darkgoldenrod;
    cursor: pointer
}

.compareToolbar {
    height: 40px;
    background: darkgoldenrod;
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%
}

.navLinks:hover {
    background-color: darkgoldenrod;
}

.homeLink {
    padding: 0px 15px;
}

.resetLink {
    padding: 0px 15px;
}

.resetUserLink {
    padding: 0px 15px;
}

.homeLink:hover {
    background-color: darkgoldenrod;
    cursor: pointer;
}

.resetUserLink:hover {
    background-color: darkgoldenrod;
    cursor: pointer;
}

.resetLink:hover {
    background-color: darkgoldenrod;
    cursor: pointer;
}

.brand-logo:hover {
    background-color: darkgoldenrod;
}

a:hover{
    color: white !important;
    text-decoration: none !important;
}

.toggleButton{
    margin-left: 5px;
}

.toggleButton:hover{
    cursor: pointer;
    color: white;
}

.label-icon:hover {
    cursor: pointer;
}

.watchlist-container {
    height: 100vh;
    background-color: bisque;
    position: fixed;
    right: 0;
    width: 280px;
    z-index: 101;
    top: 0;
    margin-top: 63px;
    overflow: auto;
}

.watchlist-container::-webkit-scrollbar {
    display: none;
  }

.toggle-watchlist {
    font-weight: normal;
    font-size: 30px;
    color: darkgoldenrod;
}

.toggle-watchlist:hover {
    cursor: pointer;
    color: white;
}

.watchImage{
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 60px;
}

.watchtool-container {
    height: 400px;
    background-color: black;
    position: fixed;
    right: 0;
    width: 40px;
    z-index: 101;
    margin-top: 120px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-watchtoolbar{
    font-size: 40px;
    color: darkgoldenrod;
}

.toggle-watchtoolbar:hover{
    color: white;
    cursor: pointer;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksContainer {
    position: relative;
    left: 360px;
}

.save-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.saveWatch {
    margin-top: 20px;
}

.watchContainer2 {
    margin-top: 40px;
}

.watchlist-navbar{
    display: flex;
}

.watchlist-title {
    color: white;
    display: inline;
    position: relative;
    left: 40px;
    top: 5px;
}

.modal {
    height: 400px;
    max-height: 40% !important;
    top: 10%;
    left: 0;
    right: 0;
    bottom: unset !important;
    background-color: white !important;
    width: 60% !important;
}

.modal-content{
    border: unset !important;
}

.btn {
    background-color: unset !important;
}

.btn:hover {
    background-color: darkgoldenrod !important;
}

.btn, .btn-large, .btn-small {
    background-color: black !important;
    color: white !important;
}

.removeBtn{
    margin-top: 8px;
    margin-left: 20px;
    color: black;
}

.removeBtn:hover{
    cursor: pointer;
    color: darkgoldenrod;
}

.alertBtn{
    font-size: 28px;
    margin-left: 18px;
    color: black;
}

.alertBtn:hover{
    cursor: pointer;
    color: darkgoldenrod;
}

.iconContainer {
    display: inline-flex;
    flex-direction: column;
}

/* .modalAlert {
    width: 30% !important;
    height: 40% !important;
} */

.rangeslider {
    margin-left: 50px !important;
    margin-right: 10px !important;
}

.alertModal {
    height: 30% !important;
}




